{% extends "inicio.html" %}
{% load static %}
{% block content %}
    <div id="main_container">
		<div class="container" id="home">
			<div class="row col-wrap">
				<div id="left_container" class="col col-md-3 col-sm-12">
                	<div class="templatemo_logo">
						<a href="#"><img src="images/templatemo_logo.png" alt="Botany Theme"></a>
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li class="active"><a href="#">Inicio</a></li>
						</ul>
					</nav> <!-- nav -->
					<div>
						<a href="#"><img src="{% static 'img/facebook.png' %}" alt="Like us on Facebook"></a>
						<a href="#"><img src="{% static 'img/twitter.png' %}" alt="Follow us on Twitter"></a>
					</div>
				</div>
				<div id="right_container" class="col col-md-9 col-sm-12">

					<div class="row">
                    	<div class="col col-md-12">
                    		<h2>Bienvenido</h2>
                            <hr>
                            <div class="flexslider">
                              <ul class="slides">
                                <li><img src="{% static 'img/slide_1.jpg' %}" alt="slide 1" /></li>
                                <li><img src="{% static 'img/slide_2.jpg' %}" alt="slide 2" /></li>
                                <li><img src="{% static 'img/slide_3.jpg' %}" alt="slide 3" /></li>
                              </ul>
                            </div>
        				</div>
                    </div>
                    {% for details in plantas %}
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="width: 100%;height: 12em;" src="{{ details.photo.url }}" class="w-100">
                                </div>
                                <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                        <h4 class="card-title">{{ details.name }}</h4>
                                        <p class="card-text"> {{ details.description }}. </p>
                                    <a href="{{ details.link }}" target="_blank" class="btn btn-primary">Ir a Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
				</div>
			</div>
			<footer class="row credit">
				<div class="col col-md-12">
					<div id="templatemo_footer">
						bienvenido © 2022 <a href="#">nombre</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
{% endblock %}